.tableHeaderCell.tableHeaderCell {
    font-weight: bold;
}

.filterBox {
    margin-bottom: 16px;
    gap: 20px;
    display: flex;
}

.checkBoxContainer {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.testsFailuresHeader {
    margin-top: 30px;
}
