.container {
    width: calc(100vw - 32px);
}

.statsContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.tableHeaderCell.tableHeaderCell {
    font-weight: bold;
}

.filterBox {
    margin-bottom: 16px;
    gap: 20px;
    display: flex;
}

.chartsContainer {
    display: flex;
}

.failedWinBuild {
    background-color: rgba(255, 0, 0, 0.3);
}

.failedBuild {
    background-color: rgba(255, 0, 0, 0.09);
}

.unstableWinBuild {
    background-color: rgba(255, 255, 0, 0.7);
}

.unstableBuild {
    background-color: rgba(255, 255, 0, 0.2);
}
